{	
    "title": "LC {{ bu_desc }} Similar Product Engine",
    "regions": {{ regions | tojson() }},
	"description": "The recommendation engine calculates the similarities of visuals, color and text description. The more similar they are, the higher rank it is.",
	"products": {
		"{{ bu_desc }}": {{ class_descs | tojson() }},
		"deployment": {{ class_descs | tojson() }}
}
}